body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #425d89, #979ba0);
  height: 100vh;  
}

.newbus {
  text-align: right;
  margin-right: 60px;
}


button {
  background-color: #862828;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

button:hover {
  background-color: #630909;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border: 1px solid #000000;
  background-color: #83a1d1;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}


.thead-dark {
  background: #0b456b;
  color: #fff;
}

table thead tr th {
  padding: 12px;
  font-size: 16px;
  text-align: left;
}

table tbody tr {
  transition: background-color 0.3s ease;
}

table tbody tr:hover {
  background-color: #316f8b;
}

table tbody tr td {
  padding: 10px;
  font-size: 19px;
  color: #000101;
  border-bottom: 1px solid #000000;
}

table tbody tr td:last-child {
  text-align: center;
}
